<div class="p-8 text-center">
  <%= form_with(url: sessions_path) do |form| %>
    <% if flash[:error] %>
      <div class="text-center bg-red-700 text-white p-3 rounded-lg shadow mb-8">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= form.text_field(
      :name,
      placeholder: "Name",
      required: true,
      class: "text-field mb-8"
    ) %>

    <%= form.text_field(
      :password,
      type: :password,
      placeholder: "Password",
      required: true,
      class: "text-field mb-4"
    ) %>

    <%= form.submit(
      value: "Log In",
      class: "block mx-auto button button--wide",
      data: {
        disable_with: "..."
      }
    ) %>
  <% end %>
</div>
