<%= form_with(url: session_path) do |form| %>
  <div class="mb-4">
    <%= form.label :login, "Username", class: "block mb-2" %>
    <%= form.text_field :login, required: true, class: "block w-full p-2 rounded bg-blue-300 bg-opacity-25 border-2 border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :password, "Password", class: "block mb-2" %>
    <%= form.password_field :password, required: true, class: "block w-full p-2 rounded bg-blue-300 bg-opacity-25 border-2 border-blue-300" %>
  </div>

  <%= form.submit(
    value: "Log In",
    class: "button mx-auto",
    data: {
      disable_with: "..."
    }
  ) %>
<% end %>
