<%= render "section" do %>
  <h2 class="text-xl text-center">
    Get started by making an account and a group
  </h2>
<% end %>

<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div class="bg-red-700 rounded p-8 mb-8">
      <h2>Could not create account becuase: </h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><span class="mr-2">·</span><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "section", title: "Create Your Account" do %>
    <%= render "input_field", form: form, name: :name, type: :text_field, label: "Display Name" %>
    <%= render "input_field", form: form, name: :login, type: :text_field, label: "Username" %>
    <%= render "input_field", form: form, name: :password, type: :password_field, label: "Display Name" %>
  <% end %>

  <%= render "section" do %>
    <% if @group %>
      <%= form.hidden_field :invite_token, value: @group.invite_token %>

      <h3 class="text-xl mb-2">
        Join Group
        <span class="text-3xl font-bold"><%= @group.name %></span>
      </h3>
    <% else %>
      <h3 class="text-xl mb-2">Create Your Group</h3>

      <%= form.fields_for(:groups) do |form| %>
        <%= render "input_field", form: form, name: :name, type: :text_field, label: "Name" %>
        <%= render "input_field", form: form, name: :rules, type: :text_field, label: "Rules" %>
      <% end %>
    <% end %>
  <% end %>

  <%= form.submit @group ? "Join" : "Get Started", class: "button w-full" %>
<% end %>
