<%= render "section" do %>
  <h2 class="text-xl text-center">
    Get started by making an account
  </h2>
<% end %>

<%= form_with(model: user) do |form| %>
  <%= render "section" do %>
    <div class="mt-4">
      <%= form.text_field :name %>
    </div>

    <div class="mt-4">
      <%= form.text_field :login, hint: "You'll use this to sign in" %>
    </div>

    <div class="mt-4">
      <%= form.password_field :password %>
    </div>
  <% end %>

  <%= render "section" do %>
    <% if @group %>
      <%= form.hidden_field :invite_token, value: @group.invite_token %>

      <h3 class="text-xl mb-2">
        Join Group
        <span class="text-3xl font-bold"><%= @group.name %></span>
      </h3>
    <% end %>
  <% end %>

  <%= form.submit @group ? "Join" : "Get Started", class: "w-full" %>
<% end %>
