<%= render "section" do %>
  <h2 class="text-xl text-center">
    <% if group %>
      Create an account to join <%= group.owner.name %>'s group, <%= group.name %>
    <% else %>
      Get started by making an account
    <% end %>
  </h2>
<% end %>

<%= form_with(model: user) do |form| %>
  <%= form.text_field :name, required: true, autocomplete: "Name", autofocus: true %>
  <%= form.text_field :login, required: true, autocomplete: "Username", hint: "You'll use this to sign in", wrapper_classes: "mt-4" %>
  <%= form.password_field :password, required: true, autocomplete: "off", wrapper_classes: "mt-4" %>

  <%= form.submit group ? "Join" : "Get Started", class: "w-full mt-6" %>
<% end %>
