<%= render "section" do %>
  <h2 class="text-xl text-center">
    Get started by making an account and a group
  </h2>
<% end %>

<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div class="bg-red-700 rounded p-8 mb-8">
      <h2>Could not create account becuase: </h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><span class="mr-2">·</span><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "section", title: "Create Your Account" do %>
    <div class="mb-4">
      <%= form.label :name, "Display Name", class: "block mb-2" %>
      <%= form.text_field :name, class: "input-field" %>
    </div>

    <div class="mb-4">
      <%= form.label :login, "Username", class: "block mb-2" %>
      <%= form.text_field :login, class: "input-field" %>
    </div>

    <div class="mb-4">
      <%= form.label :password, class: "block mb-2" %>
      <%= form.password_field :password, class: "input-field" %>
    </div>
  <% end %>

  <%= render "section" do %>
    <% if @group %>
      <%= form.hidden_field :invite_token, value: @group.invite_token %>

      <h3 class="text-xl mb-2">
        Join Group
        <span class="text-3xl font-bold"><%= @group.name %></span>
      </h3>
    <% else %>
      <h3 class="text-xl mb-2">Create Your Group</h3>

      <%= form.fields_for(:groups) do |form| %>
        <div class="mb-4">
          <%= form.label :name, class: "block mb-2" %>
          <%= form.text_field :name, class: "input-field" %>
        </div>

        <div class="mb-4">
          <%= form.label :rules, class: "block mb-2" %>
          <%= form.text_area :rules, class: "input-field" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= form.submit @group ? "Join" : "Get Started", class: "button w-full" %>
<% end %>
