<p class="text-xl mb-20 text-center">
  Hello
  <span class="font-bold text-lg"><%= Current.user.name %></span>,
  you have
  <span class="font-bold text-2xl"><%= @pair.name %></span>
  for Secret Santa!
</p>

<div class="text-center mb-32">
  <% if @pair.ideas_in_current_group.empty? %>
    <p>
      They haven't added any gift ideas yet...
    </p>
  <% else %>
    <p>
      You could get them...
    </p>
    <% Current.user.ideas.each do |idea| %>
      <p><%= idea.idea %></p>
    <% end %>
  <% end %>
</div>

<div class="text-center">
  <% if @pair.ideas_in_current_group.empty? %>
    <p class="mb-4">
      You haven't added any gift ideas yet...
    </p>
  <% else %>
    <p class="mb-4">
      The ideas you have listed...
    </p>
    <% Current.user.ideas.each do |idea| %>
      <p><%= idea.idea %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "Add an Idea", new_idea_path, class: "text-center block mb-8 text-blue-400" %>

<%= link_to "Log Out", sessions_path, method: :delete, class: "text-center block text-blue-400" %>

