<h1>Secret Santa</h1>
<p>Hello <%= Current.user.name %></p>

<p>
  You have <%= link_to @pair.name, @pair %> for Secret Santa!
</p>

<p>
  Some ideas for them:
</p>
<% Current.user.ideas.each do |idea| %>
  <p><%= idea.idea %></p>
<% end %>

<p>
  <strong>Your Gift Ideas:</strong>
</p>
<% Current.user.ideas.each do |idea| %>
  <p><%= idea.idea %></p>
<% end %>

<%= link_to "Add an Idea", new_idea_path %>

<%= link_to "Log Out", sessions_path, method: :delete %>

