<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-indigo-900 text-white">
    <div class="flex justify-center content-center items-center w-screen h-screen">
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
